body {
    margin: 0;
    padding: 0;
 }
  
  #logo-main {
    display: block;
    margin: auto;
    max-width: 12%;
  }
  
  #navbar-primary.navbar-default {
    background: transparent;
    border: none;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar li {
    display: inline-block;
    float: none;
  }

  .navbar li a {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.75rem;      
  }

  header{
    background-color: black;
    margin: 10px auto;
  }

  #bodycontent{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* Index styling */

  #hero{
    max-height: 100%;
  }

  #hero img{
    height: 100%;
  }

  #index-text-content{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    font-size: 30px;
  }

  #index-spotify-player{
    margin: 20px 0px;
  }

  #index-text-content button{
    width: 100%;
  }

/* Media Page Styling */

#carouselButtons {
  margin-left: 100px;
  position: absolute;
  bottom: 0px;
}

.item img{
  max-height: 65vh;
  margin: auto;
}

#spotify-players{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.spotify-player-item{
  margin-top: 20px;
  width: 70%;
  margin: auto;
}

  /* Page Transitions */

#bodycontent{
  animation: transitionIn 1s;
}

@keyframes transitionIn {
  from{
      opacity: 0;
      transform: rotateX(-10deg);
      transform: translateY(-20px);
  }

  to{
      opacity: 1;
      transform: rotateX(0);
      transform: translateY(0);
  }
}


