  #logo-main {
    display: block;
    margin: 20px auto;
  }
  
  #navbar-primary.navbar-default {
    background: transparent;
    border: none;
  }

  .center-ul{
    text-align: center;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar li {
    display: inline-block;
    float: none;
  }

  .navbar li a {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.75rem;      
  }

  header{
    background-color: black;
  }

  .bodycontent{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }