body {
    margin: 0;
    padding: 0;
    width: 100vw;
 }

 .bodywrapper{
  width: 100%;
  display: flex;
  align-items: center;
 }
  
  #logo-main {
    display: block;
    margin: auto;
    max-width: 12%;
  }
  
  #navbar-primary.navbar-default {
    background: transparent;
    border: none;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar li {
    display: inline-block;
    float: none;
  }

  .navbar li a {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.75rem;      
  }

  header{
    background-color: black;
    margin: 10px auto;
  }

  #bodycontent{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* Index styling */

  #hero{
    max-height: 100%;
  }

  #hero img{
    max-height: 100%;
    max-width: 100vw;
  }

  #index-text-content{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 20px 0px;
    font-size: 30px;
    width: 60%;
  }

  #index-spotify-player{
    margin: 20px 0px;
    width: 100%;
  }

  #index-text-content button{
    width: 100%;
  }

  #socialmedia{
    font-size: 30px;
    margin: 50px 0px;
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #socialmedia-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 18vw;
  }

/* Media Page Styling */

#carouselButtons {
  margin-left: 120px;
  position: absolute;
  bottom: 0px;
}

#myCarousel{
  height: 65vh;
  width: 100vw;
}

.carousel-inner{
  height: 100%;
}

.item img{
  max-height: 65vh;
  margin: auto;
}

.carousel-control{
  max-height: 65vh;
}

#spotify-players{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.spotify-player-item{
  margin-top: 20px;
  width: 70%;
  margin: auto;
}

/* About Page Styling */

#about-hero img{
  width: 100vw;
  margin-bottom: 20px;
}

.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}

.team-head-text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.team-head-text {
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.container {
  max-width: 1380px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
}

.card-container {
  width: 280px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.name {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 800;
}

.position {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.social-icons {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.team-member-image {
  max-width: 100%;
}

.social-icon{
  width: 25px;
}

.card{
  transition: 1s;
}

.card:hover{
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .card-container {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}


/* Contact Us Styling */

.formcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formcontainer form{
  width: 40%;
}

.form-group label{
  width: 100%;
}

@media (max-width: 1000px){
  .formcontainer{
    width: 90%;
  }

  .formcontainer form{
    width: 100%;
  }
}




  /* Page Transitions */

#bodycontent{
  animation: transitionIn 1s;
}

@keyframes transitionIn {
  from{
      opacity: 0;
      transform: rotateX(-10deg);
      transform: translateY(-20px);
  }

  to{
      opacity: 1;
      transform: rotateX(0);
      transform: translateY(0);
  }
}


